@import url(https://fonts.googleapis.com/css?family=Lora);
@import url(https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);
@font-face {
    font-family: "SharonAP";
    src: url("fonts/14756.ttf");
}
@font-face {
    font-family: "FontAwesome";
    scr: url("fonts/FontAwesome.otf");
}

body, html {
    width: 100%;
    min-width: 1280px;
    height: 100%;
    background: rgb(10, 25, 25);
}



.container:after, .row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    margin-bottom: 15px;
}


#map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
}

.container {
    width: 100%;
    max-width: 1024px; /*максимальная ширина может иметь другое значение*/
    margin: 0 auto;
    padding: 1px;
}

header {
    background: url(images/head.png) no-repeat;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}

footer {
    background: url(images/foot.png) no-repeat;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}


.main {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.top {
    background: rgb(240, 255, 253);
    padding: 10px;
}

a {
    text-decoration: none;
    font-family: 'Lora', serif;
    transition: .5s linear;
}
i {
    margin-right: 10px;
}
nav {
    display: block;
    width: 660px;
    padding: 1px;
}

.copyright-text {
    color: gray;
    size: 1pt;
}

.search-menu {
    float: right;
}

.search-menu form {
    padding: 1em 0;
}

.search-menu input {
    display: inline-block;
    padding: 1em;
    position: relative;
    margin: 0 0 0 5px;
    font-size: 15px;
    border: none;
    width: 430px;
    background: rgba(100, 125, 25, .3)
}
.search-menu input:before,
.search-menu input:after {
    content: "";
    position: relative;
    height: 4px;
    top: auto;
    right: 50%;
    bottom: -5px;
    left: 50%;
    transition: .8s;
}
.search-menu button {
    position: relative;
    top: 0;
    right: 0px;
    width: 42px;
    height: 52px;
    border: none;
    background: rgb(120, 150, 50);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
.search-menu button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
}

.menu-main {
    float: left;
}

.menu-main ul {
    padding: 1em 0;
}


.menu-main li {
    display: inline-block;
}
.menu-main li:last-child:after {content: none;}
.menu-main a {
    padding: 1em;
    text-decoration: none;
    font-family: 'Lora', sans-serif;
    letter-spacing: 2px;
    position: relative;
    margin: 0 0 0 5px;
    font-size: 15px;
    text-transform: uppercase;
    display: inline-block;
    transition: .5s linear;
    background: rgba(100, 125, 25, .3)
}
.menu-main a, .menu-main a:visited {color: #9d999d;}
.menu-main a.current, .menu-main a:hover{
    color: rgb(120, 150, 50);
    background: rgba(100, 125, 25, .5);
}

.menu-main a:before,
.menu-main a:after {
    content: "";
    position: absolute;
    height: 4px;
    top: auto;
    right: 50%;
    bottom: -5px;
    left: 50%;
    background: rgb(120, 150, 50);
    transition: .8s;
}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}
@media (max-width: 550px) {
    .menu-main {
        padding-top: 0;
    }

    .menu-main li {
        display: block;
    }

    .menu-main li:after {
        content: none;
    }

    .menu-main a {
        padding: 25px 0 20px;
        margin: 0 30px;
    }
}



.carousel-content {
    position: absolute;
    bottom: 10%;
    left: 5%;
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}